.sitka-field {
  margin: 1em 0;
}
.sitka-field--flex {
  display: flex;
}
.sitka-field__label {
  width: 20%;
}
.sitka-field__input {
  width: 80%;
}
.sitka-field__env-option {
  margin-bottom: 0.5em;
}
.sitka-field input[type=text] {
  width: 100%;
  max-width: 25em;
}
textarea.sitka-shortcode-text {
  height: 2em;
  width: 16ch;
  padding-top: 2px;
  width: 16ch;
  color: black;
  font-weight: 700;
  border: none;
  resize: none;
}