{% extends layout_template %}

{% block section_header %}
(empty section header)
{% endblock %}

{% block main_content %}
  <section class="glt-search-form-container">
    <div class="container">
      <div class="global-search">
        <h5>Search</h5>
        <form role="search" method="get" id="searchform" class="searchform" action="/">
          <input type="text" value="{{ search_query }}" name="s" id="search-term" placeholder="Enter keyword or phrase" title="Enter keyword or phrase" />
          <button id="searchsubmit" type="submit" class="btn"><span>Search</span></button>
        </form>
      </div><!-- global-search -->
    </div><!-- container -->
  </section>

  <section class="glt-search-results-container">
    <div class="container">
      {% if response.results is not empty %}
        {% for result in response.results %}
          {% include 'gearlab-tools/search-result.twig' with {
            result: result
          } only %}
        {% endfor %}
      {% endif %}

      <div class="post-navigation">
        {{ gearlab_paginate_links(response) }}
      </div>
    </div><!-- .container -->
  </section>
{% endblock %}